<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/tutorial_hibernate</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
    	<property name="show_sql">true</property>
    	<property name="connection.pool_size">1</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <mapping resource="br/rc/unesp/tutorialhibernate/mappedBeans/Pessoa.hbm.xml"/>
        <mapping resource="br/rc/unesp/tutorialhibernate/mappedBeans/Endereco.hbm.xml"/>
        <mapping resource="br/rc/unesp/tutorialhibernate/mappedBeans/Curso.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
